<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.dart.android.twitter"
      android:versionCode="7"
      android:versionName="7">
    <application
        android:name="TwitterApplication"    
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity android:name="LoginActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="PictureActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />                
            </intent-filter>
        </activity>                              
        <activity android:name="TwitterActivity"
                  android:label="@string/app_name"
                  android:theme="@style/Theme.NoBackground"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.dart.android.twitter.TWEETS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>                                                            
            <intent-filter>
                <action android:name="com.dart.android.twitter.REPLIES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.dart.android.twitter.NEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>                                                                                                                                                            
        </activity>
        <activity android:name="DmActivity"
                  android:label="@string/direct_messages">
            <intent-filter>
                <action android:name="com.dart.android.twitter.DMS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>                              
        </activity>                                        
        <activity android:name="UserActivity">
            <intent-filter>
                <action android:name="com.dart.android.twitter.USER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>                                      
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- TODO: do we dare handle http://twitter.com someday? -->
                <data android:scheme="twitta"
                      android:host="users" />                
            </intent-filter>                                              
        </activity>                                        
        
        <activity android:name="PreferencesActivity"  
                  android:label="@string/app_name" />
                                    
        <service android:name="TwitterService" />

        <receiver android:name="BootReceiver">
          <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
          </intent-filter>
        </receiver>        
    </application>
        
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>    
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    
</manifest>